//widget
.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

//widget message
.widget__message {
    color: $off-white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: .1rem solid lighten($light-blue, 10%);
}

//widget Header
.widget-header {
    background: $blue;
    color: $off-white;
    display: flex;
    justify-content: space-between;
    padding: $m-size;
}

.widget-header__title {
    margin: 0;
}